/* General Styles */
body {
    font-family:monospace;
    color: #333;
    margin: 0;
    padding: 20;
    background-color: #1b3631;
    color: #e7e3e3;
}

/* Header Section */
header {
    /*border-bottom: 1px solid #ccc;*/
    padding: 40px 0;
}

/* Flex container for header content */
.header-content {
    margin-left: 60px;
    margin-right: 60px;
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Space between h1 and nav */
    align-items: center; /* Align h1 and nav vertically in the center */
    padding: 0 20px; /* Optional horizontal padding */
}

.header-content h1 {
    font-size: 24px;
    font-weight: normal;
}

.header-content h1 a {
    font-size: 24px;
    font-weight: normal;
    text-decoration: none;
    font-weight: bold;
    color: #0ae98a
    
}

.header-content nav {
    display: flex; /* Align links horizontally */
    gap: 20px; /* Add space between links */
}

.header-content nav a {
    color: #0ae98a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth hover effect */
}

.header-content nav a:hover {
    color: #e7e3e3;
}

/* Footer Section */
footer {
    display: flex; /* Flexbox for centering text */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    padding: 10px;
    /*border-top: 1px solid #ccc;*/
    font-size: 14px;
}

/* Main Section */
main {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
}

p {
    padding: 40px;
    margin-bottom: 0;
}

/* Project Grid */
.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust this as necessary */
    gap: 20px;
    display: flex;
    padding: 40px;
    margin-top: 0;
}

.project-card {
    padding: 20px;
    background: #121213;
    border: 1px solid #0ae98a;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.custom-size-vid {
    grid-column: span .5; /* Makes the card span across two columns */
    min-height: 400px; /* Specific height */
}

.custom-size-playe1 {
    grid-column: span 2; /* Makes the card span across two columns */
    min-height: 400px; /* Specific height */
}

.custom-size-model {
    grid-column: span 1; /* Makes the card span across two columns */
    min-height: 400px; /* Specific height */
}


.project-card:hover {
    transform: scale(1.05);
}
